<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${auctionRegisterEntity.title}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" th:utext="${@commonUtil.markdown(auctionRegisterEntity.content)}"></div>
			<div class="d-flex justify-content-end">
				<div th:if="${auctionRegisterEntity.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(auctionRegisterEntity.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${auctionRegisterEntity.author != null}" th:text="${auctionRegisterEntity.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(auctionRegisterEntity.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<div class="my-3">
				<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/DomAuction/good/${auctionRegisterEntity.username|}">
					추천
					<span class="badge rounded-pill bg-success" th:text="${#lists.size(auctionRegisterEntity.good)}"></span>
				</a>
				<a th:href="@{|/question/modify/${auctionRegisterEntity.username}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${auctionRegisterEntity.author != null and #authentication.getPrincipal().getUsername() == auctionRegisterEntity.author.username}"
					th:text="수정"></a>
				<a href="javascript:void(0);" th:data-uri="@{|/DomAuction/delete/${auctionRegisterEntity.username}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${auctionRegisterEntity.author != null and #authentication.getPrincipal().getUsername() == auctionRegisterEntity.author.username}"
					th:text="삭제"></a>
			</div>
		</div>
	</div>
	<!-- 답변의 갯수 표시 -->
	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(auctionReigsterEntity.auctionRequestEntityList)}개의 답변이 있습니다.|"></h5> <!-- 여기 변수명 맞는지 확인 부탁드립니다! -->
	<!-- 답변 반복 시작 -->
	<div class="card my-3" th:each="answer : ${auctionRegisterEntity.auctionRequestEntityList}">
		<a th:id="|auctionRequestEntity_${auctionRequestEntity.username}|"></a>
		<div class="card-body">
			<div class="card-text" th:utext="${@commonUtil.markdown(auctionRequestEntity.content)}"></div>
			<div class="d-flex justify-content-end">
				<div th:if="${auctionRequestEntity.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(auctionRequestEntity.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${auctionRequestEntity.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(auctionRequestEntity.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<div class="my-3">
				<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/request/good/${auctionRequestEntity.username}|}">
					추천
					<span class="badge rounded-pill bg-success" th:text="${#lists.size(auctionRequestEntity.good)}"></span>
				</a>
				<a th:href="@{|/answer/modify/${auctionRequestEntity.username}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${auctionRequestEntity.author != null and #authentication.getPrincipal().getUsername() == auctionRequestEntity.author.username}"
					th:text="수정"></a>
				<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${auctionRequestEntity.id}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${auctionRequestEntity.author != null and #authentication.getPrincipal().getUsername() == auctionRequestEntity.author.username}"
					th:text="삭제"></a>
			</div>
		</div>
	</div>
	<!-- 답변 반복 끝  -->
	<!-- 답변 작성 -->
	<form th:action="@{|/request/create/${auctionRegisterEntity.username}|}" th:object="${auctionRequestForm}" method="post" class="my-3">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
			rows="10"></textarea>
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
		<input type="submit" value="답변등록" class="btn btn-primary my-2">
	</form>
</div>
<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
	const recommend_elements = document.getElementsByClassName("recommend");
	Array.from(recommend_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 추천하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>